
<h1><%= current_user.fname + " " + current_user.lname%></h1>
<br/>

  <%= render 'formnew' %>
  <a  data-toggle="modal" href="#myModal" >Add Work Experience</a>

  <%= render 'experiences/viewexp' %>

 
