<div id="user_profile">

		<div id="user_photo">
			<%= image_tag current_user.photo.url,:size=>"200x200" %>
		<div>

		<div id="user_name">
			<h2><%= current_user.fname + " " + current_user.lname%></h2>
		</div>	
</div>


<div id="right_user_profile">

	<div id="right_content">
		
		
		<%= render 'formnew' %>
  		<a  data-toggle="modal" href="#myModal" >Add Work Experience</a>
  		<%= render 'experiences/viewexp' %>
		
	
	</div>

  		
</div>


  
  

 
