#user_profile{
     float:left;
      width: 200px;
     padding-left: 30px;

      min-height: 500px;
  }

  #user_photo{
  	margin-left: -15px;
  	margin-top: 10px;
    
  }

  #user_name{
  	margin-top: 10px;
  	margin-left: 10px;
  }

  #right_user_profile{
    margin-left: 250px;
    max-height: 300px;

  }

  #right_content{
    padding-left: 50px;
   padding-top: 30px;
   padding-right: 50px;
   margin-top: -275px;
   height:560px;
   width:800px;
    border: 1px solid gray;
   overflow:auto;
   max-height: 560px;

  }

  #header{
    background-color: #ececec;
    padding-left: 10px;
  }


  #wrapper
  {
     padding-left: 20px;
    padding-top: 10px;
  }

  #company{
    font-size: 20px;
   width: 750px;
   height: 50px;
    font-weight: bold;
  }

  #duration
  {
    font-size: 15px;
    padding-left: 30px;
    width: 300px;
    color: gray;
  }
  #job_title
  {
    font-size: 15px;
    font-weight: normal;

  }
  #job_desc{
    border-bottom: 1px gray solid;
    font-size: 15px;
    font-weight: normal;
  }